body {
  font: {
    family: Helvetica, Arial, sans-serif;
    size: 14px;
    weight: lighter;
  }
  color: #111211;
}

h1 {
  font: {
    weight: bold;
  }
}

.dialog {
  border: {
    color: #999999;
    width: 1px;
    style: solid;
  }
  -webkit-border-radius: 8px;
}

.dialog-header, .dialog-footer, .toolbar {
  background-color: rgba(245, 245, 245, 0.95);
}

.dialog-header, .toolbar {
  border-bottom: {
    color: #E2E3E2;
    style: solid;
    width: 2px;
  }
}
.toolbar-vertical {
  @extend .toolbar;
  border: none;
  border-right: {
    color: #E2E3E2;
    style: solid;
    width: 2px;
  }
}

.dialog-body {
  background-color: rgba(255,255,255,0.96);
}

input, select, textarea {
  border: {
    style: solid;
    color: rgb(160,160,160);
    width: 1px;
  }
  -webkit-border-radius: 4px;
}

input[type="number"] {
  color: #0076FF;
  background-color: transparent;
  &:focus {
    color: #111211;
    -webkit-border-radius: 0;
    outline: {
      width: 1px;
      color: rgb(160,160,160);
      style: solid;
      offset: 3px;
    }
  }
}

.tab.active {
  color: #0076FF;
}

.tabs {
  justify-content: space-between;
  border-top: {
    color: #E2E3E2;
    style: solid;
    width: 2px;
  }
}

canvas {
  background-color: bisque;
}
