.ribbon {
  width: 100%;
}

.panel {
  display: -webkit-flex;
  -webkit-user-select: none;
}

.main-view, .viewport {
  height: 100%;
  width: 100%;
}

.dialog {
  position: absolute;
  min-width: 12em;
  min-height: 8em;
  left: 0;
  top: 0;
  flex-direction: column;
  opacity: 0.95;
}

.dialog-header {
  min-height: 15px;
  width: 100%;
  -webkit-border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
}

.dialog-body {
  padding: 5px;
  flex: 1;
  overflow: auto;

  table {
    width: 100%;
  }

  td {
    cursor: default;

    &:first-child {
      padding: {
        right: 10px;
        top: 8px;
        bottom: 8px;
      }
      white-space: pre;
    }
    &:last-child {
      width: 100%;
    }
  }
}

.drag-handle {
  cursor: move;
}

input, select, textarea {
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 4px auto;
}
input[type="number"] {
  width: 40px;
  border: none;
  background-color: inherit;
  cursor: ew-resize;
  margin: 4px;
  margin-left: 0px;
  padding: 0;
  &:focus {
    cursor: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
input[type="checkbox"] {
  width: initial;
}
textarea {
  vertical-align: middle;
}

// http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-inputs-spin-box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#editor {
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
}

.resizable {
  $handle_width: 4px;
  %resize {
    -webkit-border-radius: inherit;
  }

  %vertical-resize {
    @extend %resize;
    cursor: ns-resize;
    height: $handle_width;
    position: absolute;
    width: 100%;
  }

  %horizontal-resize {
    @extend %resize;
    cursor: ew-resize;
    width: $handle_width;
    position: absolute;
    height: 100%;
  }

  .bottom-resize {
    @extend %vertical-resize;
    bottom: -$handle_width/2;
  }
  .top-resize {
    @extend %vertical-resize;
    top: -$handle_width/2;
  }
  .left-resize {
    @extend %horizontal-resize;
    left: -$handle_width/2;
  }
  .right-resize {
    @extend %horizontal-resize;
    right: -$handle_width/2;
  }
  %corner-resize {
    width: $handle_width*2;
    height: $handle_width*2;
  }
  .bottom-left-resize {
    @extend .bottom-resize;
    @extend .left-resize;
    width: 8px;
    height: 8px;
    cursor: nesw-resize;
  }
  .bottom-right-resize {
    @extend .bottom-resize;
    @extend .right-resize;
    @extend %corner-resize;
    cursor: nwse-resize;
  }
  .top-right-resize {
    @extend .top-resize;
    @extend .right-resize;
    @extend %corner-resize;
    cursor: nesw-resize;
  }
  .top-left-resize {
    @extend .top-resize;
    @extend .left-resize;
    @extend %corner-resize;
    cursor: nwse-resize;
  }
}

.tab {
  cursor: pointer;
  font-size: 0.8em;
  display: inline-block;
  padding: 4px 10px
}
