@import "functions";

$dark-border-color: rgb(153, 153, 153);
$light-border-color: rgb(226, 226, 226);

@mixin border(
  $color,
  $type: border,
  $radius: 4px,
  $offset: 0px,
  $width: 1px)
{
  #{$type}: {
    style: solid;
    color: $color;
    width: $width;
    @if $type == border {
      radius: $radius;
    }
    @if $type == outline {
      offset: $offset;
    }
  }
}

body {
  font: {
    family: Helvetica, Arial, sans-serif;
    size: 14px;
    weight: lighter;
  }
  color: #111211;
}

h1 {
  font: {
    weight: bold;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

canvas {
  background-color: white;
}

.dialog {
  @include border($color: $dark-border-color, $radius: 8px);
}

.dialog-header, .dialog-footer, .toolbar {
  background-color: rgba(245, 245, 245, 0.95);
}

.toolbar {
  border-radius: 0;
}

.dialog-header, .toolbar {
  @include border($type: border-bottom, $radius: 0, $color: $light-border-color, $width: 2px);
}
.toolbar-vertical {
  border: none;
  @include border($type: border-right, $radius: 0, $color: $light-border-color, $width: 2px);
}

.dialog-body {
  background-color: rgba(255,255,255,0.96);
}

input, select, textarea {
  @include border($dark-border-color);
}

input[type="number"] {
  color: #0076FF;
  background-color: transparent;
  &:focus {
    color: #111211;
    @include border($color: $dark-border-color, $type: outline, $offset: 3px);
  }
}

.tab.active {
  color: #0076FF;
}

.tabs {
  justify-content: space-between;
  @include border($type: border-top, $color: $light-border-color, $width: 2px);
}

.icon {
  background: {
    size: 25px 25px;
    repeat: no-repeat;
    position: center center;
  }

  width: 25px;
  height: 25px;
  padding: 15px;

  &:hover {
    @include border($dark-border-color);
    margin: -1px;
  }
  &.active {
    @extend .icon:hover;
    background-color: rgb(221, 221, 221);
  }
}

.icon-zoom {
  background-image: icon-url("zoom.png");
  &.active {
    background-image: icon-url("zoom-active.png");
  }
}

.icon-hand {
  background-image: icon-url("hand.png");
}

.icon-pointer {
  background-image: icon-url("pointer.png");
  &.active {
    background-image: icon-url("pointer-active.png");
  }
}

.icon-stamp {
  background-image: icon-url("stamp.png");
  &.active {
    background-image: icon-url("stamp-active.png");
  }
}
