@import "functions";

@mixin light-border($type: border, $radius: 4px, $offset: 0px, $width: 1px) {
  #{$type}: {
    style: solid;
    color: rgb(160,160,160);
    width: $width;
    @if $type == outline {
      offset: $offset;
    }
  }
  border-radius: $radius;
}

body {
  font: {
    family: Helvetica, Arial, sans-serif;
    size: 14px;
    weight: lighter;
  }
  color: #111211;
}

h1 {
  font: {
    weight: bold;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

canvas {
  background-color: white;
}

.dialog {
  border: {
    color: #999999;
    width: 1px;
    style: solid;
  }
  border-radius: 8px;
}

.dialog-header, .dialog-footer, .toolbar {
  background-color: rgba(245, 245, 245, 0.95);
}

.toolbar {
  border-radius: 0;
}

.dialog-header, .toolbar {
  border-bottom: {
    color: #E2E3E2;
    style: solid;
    width: 2px;
  }
}
.toolbar-vertical {
  @extend .toolbar;
  border: none;
  border-right: {
    color: #E2E3E2;
    style: solid;
    width: 2px;
  }
}

.dialog-body {
  background-color: rgba(255,255,255,0.96);
}

input, select, textarea {
  @include light-border;
}

input[type="number"] {
  color: #0076FF;
  background-color: transparent;
  &:focus {
    color: #111211;
    @include light-border($type: outline, $offset: 3px);
  }
}

.tab.active {
  color: #0076FF;
}

.tabs {
  justify-content: space-between;
  border-top: {
    color: #E2E3E2;
    style: solid;
    width: 2px;
  }
}

.icon-hand {
  background: {
    image: url("../../editor/icons/hand.png");
    size: 25px 25px;
    repeat: no-repeat;
    position: center center;
  }

  width: 25px;
  height: 25px;
  padding: 15px;

  &:hover {
    @include light-border;
    margin: -1px;
  }
}

.icon {
  background: {
    size: 25px 25px;
    repeat: no-repeat;
    position: center center;
  }

  width: 25px;
  height: 25px;
  padding: 15px;

  &:hover {
    @include light-border;
    margin: -1px;
  }
}


.icon-zoom {
  @extend .icon;
  background-image: icon-url("zoom.png");
}
